:root {
  --clr-purple: hsl(259, 100%, 65%);
  --clr-Lightred: hsl(0, 100%, 67%);
  --clr-White: hsl(0, 0%, 100%);
  --clr-Offwhite: hsl(0, 0%, 94%);
  --clr-Lightgrey: hsl(0, 0%, 86%);
  --clr-SmokeyGrey: hsl(0, 1%, 44%);
  --clr-Offblack: hsl(0, 0%, 8%);
}
main {
  display: flex;
  flex-direction: column;
  background-color: var(--clr-White);
  border-radius: 25px 25px 196px 17px;
  min-width: 630px;
  transition: 1.5s;
  padding: 28px;
  height: 650px;
  width: 60%;
  max-width: 838px;
  box-shadow: 0px 0px 3px 1px hsla(0, 1%, 44%,0.1);
}
main #date-form p {
  color: var(--clr-SmokeyGrey);
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.16rem;
}
#date-form {
  display: flex;
  flex-direction: column;
  gap: 23px;
}
#inp-b {
  display: flex;
  gap: 23px;
}
#inp {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
#date-form label {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
main #date-form .inpData {
  display: flex;
  color: var(--clr-Offblack);
  align-items: center;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-left: 15px;
  width: 160px;
  height: 72px;
  border: 1px solid var(--clr-Lightgrey);
  border-radius: 8px;

}
main #date-form .inpData:hover {
  border-color: var(--clr-purple);
}
main #date-form .inpData::placeholder {
  color: var(--clr-SmokeyGrey);
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
main #date-form #sumbit-section {
  display: flex;
  align-items: center;
  max-width: 727px;
}
main #date-form #sumbit-section #line {
  width: 85%;
  background-color: var(--clr-Lightgrey);
  height: 1px;
}
main #date-form #sumbit-section #submit-inp {
  border: none;
  color:white;
  transition: 0.6s;
  height: 96px;
  width: 96px;
  border-radius: 50%;
  background-image: url(./assets/icon-arrow.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--clr-purple);
}
main #date-form #sumbit-section #submit-inp:hover {
  background-color: var(--clr-Offblack);
}

main .result h1 {
  font-size: 6.5625rem;
  color: var(--clr-Offblack);
  font-style: italic;
  font-weight: 800;
  line-height: 7rem;
  transition: 1s;
}
main .result h1 span {
  color: var(--clr-purple);
}
main #date-form p.erro {
  color: var(--clr-Lightred);
  font-size: 0.625rem;
  font-style: italic;
  font-weight: 600;
  line-height: 0.625rem;
}
main #date-form p.error-in {
  color: var(--clr-Lightred);
}

main #date-form .error-inp {
  border: 1px solid var(--clr-Lightred);
}
footer {
  color: var(--clr-Offblack);
  text-align: center;
}
footer a {
  color: var(--clr-purple);
  text-decoration: none;
}
@media only screen and (max-width: 600px) {

  main {
    min-width: 345px;
    max-height: 487px;
    padding: 0;
    padding-top: 8px;
    padding-left: 10px;
  }
  main #date-form p {
    color: var(--clr-SmokeyGrey);
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.16rem;
  }
  main #date-form p {
    color: var(--clr-SmokeyGrey);
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 0.16rem;
  }
  #date-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  #inp-b {
    display: flex;
    gap: 10px;
  }
  #inp {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  #date-form label {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  main #date-form .inpData {
    display: flex;
    color: var(--clr-Offblack);
    align-items: center;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-left: 10px;
    width: 100px;
    height: 72px;
    border: 1px solid var(--clr-Lightgrey);
    border-radius: 8px;
  }
  main #date-form .inpData:hover {
    border-color: var(--clr-purple);
  }
  main #date-form .inpData::placeholder {
    color: var(--clr-SmokeyGrey);
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  main #date-form #sumbit-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
  }
  main #date-form #sumbit-section #line {
    width: 300px;
    position: absolute;
    margin-top: 30px;
    background-color: var(--clr-Lightgrey);
    height: 1px;
}
main #date-form #sumbit-section #submit-inp {
    border: none;
    z-index:2;
    height: 64px;
    width: 64px;
    border-radius: 50%;
    background-image: url(./assets/icon-arrow.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--clr-purple);
  }
  main #date-form #sumbit-section #submit-inp:hover {
    background-color: var(--clr-Offblack);
  }

  main .result h1 {
    font-size: 4rem;
    color: var(--clr-Offblack);
    font-style: italic;
    font-weight: 800;
    line-height: 5.5rem;
  }
}
